@import url('https://fonts.googleapis.com/css2?family=Belgrano&family=Monoton&display=swap');
body{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: 'Belgrano', serif;
}

h1{
    display: flex;
    justify-content: center;
}
#player-nav{
    display: flex;
    justify-content: center;
}

#board-display{
    display: flex;
    justify-content: center;
    height: 40em;
}

#board-container{
    display: flex;
    justify-content:center;
    align-items: center;
    
    flex-wrap: wrap;
    height: 60vh;
    width: 70vh;
}

.cells{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid rgb(165, 26, 91);
    height: 20vh;
    width: 21vh;
    font-size: 15vh;
    color:rgba(8, 21, 66, 0.774)
}
aside{
    display: flex;
    justify-content: center;

}

#players-container{
    display: none;
    justify-content: center;
    align-items: center;
    height: 100px

}

.playerName{
    height:50px;
    width: 300px;
    font-size: 30px;
}
#submit, #reset{
    height: 55px;
    width: 200px;
    font-size: 30px;
}
#player-option{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
#one-player, #two-player{
    height: 50px;
    width: 90px;

}