
body{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

h1{
    display: flex;
    justify-content: center;
}
#player-nav{
    display: flex;
    justify-content: center;
}

#board-display{
    display: flex;
    justify-content: center;
    height: 50em;
}

#board-container{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    height: 45em;
    width: 45em;
}

.cells{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black;
    height: 16vh;
    width: 14vh;
    font-size: 15vh;
}
aside{
    display: flex;
    justify-content: center;

}

#players-container{
    display: none;
    justify-content: center;
    align-items: center;
    height: 100px

}

.playerName{
    height:50px;
    width: 300px;
    font-size: 30px;
}
#submit, #reset{
    height: 55px;
    width: 200px;
    font-size: 30px;
}
#player-option{
    display: flex;
    justify-content: center;
}
#one-player, #two-player{
    height: 50px;
    width: 90px;

}